.user-profile-container {
  /* padding: 50px 0; */
  text-align: center;
  justify-content: center;
  display: flex;
}
.form {
  position: relative;
  text-align: center;
  display: flex;
  height: 430px;
  gap: 16px;
  flex-direction: column;
  padding: 32px 24px 24px;
  max-width: 300px;
  background: #ede6fa;
  border-radius: 10px;
  color: #010101;
  & .title {
    font-weight: bold;
    font-size: 1.6rem;
  }
  & .subtitle {
    font-size: 1rem;
    color: #666;
  }
}

.form-container {
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  margin: 1rem 0 0.5rem;
  width: 100%;
  & .input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
    padding: 8px 15px;
  }
  & :nth-last-child(n-1) {
    color: lightslategray;
  }
}

.form-section {
  padding: 16px;
  font-size: 0.85rem;
  background-color: #e5d8f9;
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0/8%) 0 -1px;

  & a {
    font-weight: bold;
    color: #9949ff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  & a:hover {
    color: #005ce6;
    text-decoration: underline;
  }
}
.formBtn {
  background-color: #a76af7;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;

  & :hover {
    background-color: #005ce6;
  }
}

.dateContainer {
  display: flex;
  flex-direction: row;
  max-height: 50px;
  & .dateLabel {
    background: none;
    height: 40px;
    outline: 0;
    width: 30%;
    padding: 8px 15px;
    margin-top: 10px;
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
  }
}
