.friend-list-bottom{
  border: #000000 2px;
  max-height: 550px;
  overflow-y: auto;
}

.friend-list-bottom {
  z-index: 2;
}
.friend-list-all-names{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.friend-list-firstname-lastname{
color: #a0a0a0;
}

.user-first-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-first-row-left{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

  /*---------------------Button--------------------  */
  .button-1-friend-list {
    align-items: center;
    background-color: rgba(105, 0, 243, 0.5);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-1-friend-list:hover,
  .button-1-friend-list:focus {
    background-color: rgba(180, 67, 255, 0.1);
  }
  
  a.friend-list-link{
    text-decoration: none;
    color: #303030;
  }

  /* ------------------------ scroll bar --------------------- */

  .friend-list-bottom::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  .friend-list-bottom::-webkit-scrollbar
  {
    width: 12px;
    background-color: #F5F5F5;
  }
  
  .friend-list-bottom::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #e9e1fd;
  }


