.expandedBtn {
  text-align: center;
  margin-top: 5px;
  /* margin: 5px 30px; */
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #9949ff;
  max-width: 250px;
  height: 30px;
}
.friend-profile-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5rem 3rem;
  /* height: 600px; */
}

.friend-profile-info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50rem;
  padding-bottom: 50px;
  border-bottom: solid 1px #d9d9d9;
}

.friend-wishlist-ul {
  padding-inline-start: 0px;
  list-style: none;
}

.friend-wishlist-top-left-side {
  display: flex;
  justify-content: flex-start;
}

.friend-user-profile {
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin-top: 3px;
  margin-right: 20px;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #ffe9e9, -5px -5px 10px #ffffe7;
}
.friend-user-names h2 {
  padding: 10px 0px 0px 0px;
  text-align: left;
  color: #303030;
}

.friend-user-names p {
  text-align: left;
  margin: 5px 0px;
  color: #676767;
}

.friend-wishlist-list-container {
  position: relative;
  margin-top: 20px;
  /* height: 500px; */
}

.friend-wishlist-list-item {
  margin: 2rem;
  list-style-type: none;
}

.friend-wish-list {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 50rem;

  height: 8rem;
  background: #f1ebfa;
  border-radius: 1rem;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #962eff, #983dff, #b861ff);
  --color: #32a6ff;
}

.friend-wish-list:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #f1ebfa;
  z-index: 2;
}

.friend-wish-list:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.friend-wish-list:hover:after {
  transform: translateX(0.15rem);
}

.notititle {
  color: #303030;
  font-weight: 500;
  font-size: 1.3rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.friend-wish-list:hover .notititle {
  transform: translateX(0.15rem);
}

.notibody {
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  margin: auto 0 auto 0;
  justify-content: space-evenly;
  color: #ededed;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
  height: 27px;
  width: auto;
  padding-left: 60px;
}

.friend-wish-list:hover .notibody {
  transform: translateX(0.25rem);
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle closest-side at center,
    white,
    transparent
  );
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.friend-wish-list:hover .notiglow {
  opacity: 0.1;
}

.friend-wish-list:hover .notiborderglow {
  opacity: 0.1;
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}

a.friend-wish-list-item-link {
  text-decoration: none;
  color: #e3e3e3;
}

/* -------------------------button--------------------------- */
.button-friend-profile-wishlist {
  background-color: rgba(105, 0, 243, 0.5);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/*-------------------------- check box-------------------------- */

/* Hide the default checkbox */
.container-checkmark input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container-checkmark {
  border-radius: 9px;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  box-shadow: rgba(139, 18, 113, 0.2) 0px 8px 24px;
  background-image: linear-gradient(45deg, #f3d5f7, #fbf6e7, #e6fcf5);
  height: 25px;
  width: 25px;
}

/* Create a custom checkbox */
.checkmark {
  border-radius: 9px;
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: linear-gradient(45deg, #f8e7fa, #fbf6e7, #e6fcf5);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkmark input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkmark .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid rgb(247, 139, 139);
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

/* ------------------reminder/tooltip---------------- */

.tooltip {
  display: inline-block;
  position: relative;
  text-align: left;
}

.tooltip h3 {
  margin: 12px 0;
}

.tooltip .right {
  width: 140px;
  top: 50%;
  left: 100%;
  margin-left: 20px;
  transform: translate(0, -50%);
  padding: 0;
  color: #eeeeee;
  background-color: #ff9090;
  font-weight: normal;
  font-size: 10px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
}

.tooltip:hover .right {
  visibility: visible;
  opacity: 1;
}

.tooltip .text-content {
  padding: 5px 10px;
  color: white;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.5px;
}

/* small triangle */
.tooltip .right i {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
  overflow: hidden;
}
.tooltip .right i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
  background-color: #ff9090;
}

/*---------------------Button friend profile--------------------  */
.button-friend-profile {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #d9d9d9;
}

.button-friend-profile:hover,
.button-friend-profile:focus {
  background-color: #fd4848;
}

.back-left-arrow-container {
  display: flex;
  align-items: center;
  width: 50rem;
  padding: 25px;
}

/* -----------------------media queries------------- */
@media only screen and (max-width: 1400px) {
  .friend-profile-info-top {
    width: 80%;
  }

  .friend-wish-list {
    width: 600px;
  }
}

@media only screen and (max-width: 1100px) {
  .friend-profile-info-top {
    width: 80%;
  }

  .friend-wish-list {
    width: 450px;
  }
}

@media only screen and (max-width: 850px) {
  .friend-profile-info-top {
    width: 80%;
  }

  .friend-wish-list {
    width: 250px;
  }
}

@media only screen and (max-width: 420px) {
  .friend-wishlist-list-container {
    width: 100vw;
  }

  .friend-profile-container {
    margin: 0;
  }

  .friend-profile-info-top {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .itembody {
    display: flex;
    justify-content: start;
    height: auto;
  }

  .wishlistItem {
    height: 5rem;
  }

  .back-left-arrow-container {
    width: auto;
  }
}

@media only screen and (max-width: 400px) {
  .friend-profile-info-top {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .friend-wish-list {
    width: 190px;
  }
  .notibody {
    display: flex;
    flex-direction: column;
  }
  .container-checkmark {
    width: 30px;
  }
}

.wishlistItem {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 50rem;
  margin-bottom: 20px;

  height: 8rem;
  background: #f1ebfa;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #962eff, #983dff, #b861ff);
  --color: #32a6ff;
  & :after {
    position: absolute;
    content: "";
    /* width: 0.25rem; */
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
  }
  & :hover::after {
    transform: translateX(0.15rem);
  }
}
.itemGlow {
  z-index: 3;
}
.itemBorderGlow {
  z-index: 1;
}
.itemGlow,
.itemBorderGlow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle closest-side at center,
    white,
    transparent
  );
  opacity: 0;
  transition: opacity 300ms ease;
}
.itemBody {
  display: grid;
  /* grid-template-columns: 1fr 7fr 2fr; */
  margin: auto 0 auto 0;
  /* justify-content: space-evenly; */
  color: #ededed;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
  height: 27px;
  width: auto;
  padding-left: 60px;
}
.itemTitle {
  color: #303030;
  font-weight: 500;
  font-size: 1.3rem;
  transition: transform 300ms ease;
  z-index: 10;
}
