.wish-list-form-container {
  display: flex;
  justify-content: center;
  margin: 2rem 3rem;
}
.wish-list-form {
  width: 60%;
  background-color: #fff;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.wish-list-form-container button:active {
  scale: 0.95;
}

.wish-list-form-container .wish-list-form {
  display: flex;
  flex-direction: column;
}

.wish-list-form-container .wish-list-form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.wish-list-form-title {
  display: flex;
  justify-content: flex-start;
  margin: 15px 0px 3px 10px;
  font-weight: bold;
}

.wish-list-form-input {
  padding: 12px 16px;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid #ccc;
}

.wish-list-form-container .wish-list-form-group input::placeholder {
  opacity: 0.5;
}

.wish-list-form-container .wish-list-form-group input:focus {
  outline: none;
  border-color: #dbc2ff;
}

.wish-list-form-container .wish-list-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #ae35ff;
  border: none;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  width: 20%;
}

.wish-list-form-container .wish-list-button-container:hover {
  background-color: #e6d4ff;
}

@media screen and (max-width: 800px) {
  .list-form {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .list-form {
    width: 60%;
  }
  h2 {
    font-size: 1.1rem;
  }
  .wish-list-form-group {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .list-form {
    width: 50%;
  }
}
