.search-page-container {
  display: flex;
  margin: 0px 30px ;
}

.search-page-container-not-signed-in{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}

.search-page-content {
  height: 600px;
  width: 43rem;
  /* background-image: url("../../Assets/purple-glitter.png"); */
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: hsl(264, 60%, 95%);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.search-page-content::before {
  position: absolute;
  content: "";
  width: 500px;
  height: 500px;
  background-color: rgb(209, 193, 255);
  transform: rotate(45deg);
  top: -250px;
  left: 95px;
  bottom: 30px;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.search-page-content-background{
  height: 600px;
  width: 43rem;
  /* border-radius: 10px; */
  /* backdrop-filter: blur(3px); */
}

.search-page-title {
  font-weight: bold;
  font-size: 1.6rem;
  color: #010101;
  text-align: center;
  padding-top: 30px;
  position: relative;
  z-index: 2;

}

.search-box {
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.search-page-search-input {
  font-family: inherit;
  font-size: inherit;
  background-color: #ffffff;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 50%;
  margin-right: -2.3rem;
}

.search-page-search-input:hover,
.search-page-search-input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search-page-search-input:focus {
  outline: none;
  background-color: #ffffff;
}

.search-page-search-input::-webkit-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #c1c1c1;
}

.search-page-search-input:focus + .search-page-search-button {
  background-color: #ffffff;
}

.search-page-search-button {
  border: none;
  background-color: #ffffff;
  margin-top: 0.1em;
}

.search-page-search-button:hover {
  cursor: pointer;
}

.search-icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
