.search-list-results-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 0 auto;
  width: 70%;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
  max-height: 400px;
  overflow-y: auto;
  position: relative;
  z-index: 2;
}
/* SCROLL BAR CSS */
.search-list-results-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.search-list-results-container::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.search-list-results-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e9e1fd;
}

.search-list-result {
  background-color: #fff;
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
  padding: 8px;
  display: flex;
  align-items: flex-start;
}

.search-list-profile-img {
  margin-left: 5px;
  opacity: 0.33;
}

a.search-list-profile-username {
  width: 60px;
  margin-top: 10px;
  margin-left: 20px;
  text-decoration: none;
  color: rgb(73, 73, 73);
}

.btn {
  text-align: center;
  margin: 5px 30px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #9949ff;
  max-width: 250px;
  height: 30px;
}
