.home{
  padding-bottom: 4rem;
}
.top-main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 90vh;
}

.top-main-left{
  width: 100%;
  height: 100%;
  background-color: #f4e8ff;
  display: flex;
  justify-content: right;
  align-items: center;
}

.main-text {
  text-align: center;
  width: 70%;
  padding-right: 50px;
}


.main-text h1 {
  font-family: "Aleo", serif;
  font-size: 2.8rem;
}

.main-text p {
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  letter-spacing: .5px;
}

.main-text button {
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: medium;
  transition: 0.3s ease-in-out;
  background-color:  #B561FF;
  color: #ffffff;
}

.main-text button:hover {
  background-color: rgb(243, 236, 255);
  color:  #B561FF;
}

.top-main-right{
  width: 100%;
height: 100%;
}

.main-image-container{
width: 100%;
height: 100%;
display: flex;
justify-content: left;
align-items: center;
padding-left: 50px;
}

.main-image{
  width: 70%;
  height: auto;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  /* margin-bottom: 50px; */
  gap: 30px;
  padding: 0;
  
}

.text-content {
  margin: 0 auto;
  font-family: "Hepta Slab", serif;
  color: black;
  font-size: 23px;
  line-height: 32px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 70%;
  height: auto;
}


@media (max-width: 900px) {

  .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
  }

  .top-main-container{
    margin-bottom: 40px ;
  }
}

@media (max-width: 690px) {
  .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
  }

  .text-container {
    margin-bottom: 20px; /* Add some spacing between text and image */
  }

  .text-content {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
  }

  .image {
    max-width: 100%;
    height: auto;
  }

  .main-text {
    text-align: center;
    padding: 0%;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .top-main-container{
    margin-bottom: 40px ;
  }
}


@media (max-width: 480px) {
  .top-main-container{
    display: flex;
    flex-direction: column;
    background-color: #f4e8ff;
  }


  .top-main-left,
  .main-image-container  {
    justify-content: center;
    padding: 0;
  }

  .top-main-container{
    margin-bottom: 40px ;
  }
  
}

