.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background: url("../../Assets/torn.jpg");

  /* Set a specific height */
  height: fit-content;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: rgb(255, 255, 255);
  /* color: rgb(238, 231, 255); */
}

.hero-text {
  text-align: center;
  padding: 70px;
}

.hero-text h1 {
  font-family: "Aleo", serif;
  font-size: 4rem;
}

.hero-text p {
  font-weight: bolder;
  font-size: 20px;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-family: "Aleo", serif;
}

.hero-text button {
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: medium;
  transition: 0.3s ease-in-out;
  background-color: rgb(108, 72, 187);
  color: #ffffff;
}

.hero-text button:hover {
  background-color: rgb(243, 236, 255);
  color: rgb(108, 72, 187);
}

.blockquote {
  width: 80%;
  margin: 0 auto;
  /* padding: 40px 0; */
  text-align: center;
  font-weight: bolder;
}

.blockquote p {
  color: black;
  font-size: 35px;
  font-family: "Hepta Slab", serif;
  margin-bottom: 0;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  /* margin-bottom: 50px; */
  gap: 25px;
}

.text-content {
  margin: 0 auto;
  font-family: "Hepta Slab", serif;
  color: black;
  font-size: 23px;
}

.image {
  width: 505px;
  height: auto;
}

@media (max-width: 690px) {
  .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
  }

  .text-container {
    margin-bottom: 20px; /* Add some spacing between text and image */
  }

  .text-content {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
  }

  .image-container {
    text-align: center; /* Center the image within the container */
  }

  .image {
    max-width: 100%;
    height: auto;
  }

  .hero-text {
    text-align: center;
    padding: 0%;
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

@media (max-width: 900px) {
  .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
  }
}
