.hero {
  padding-top: 20px;
  grid-area: hero;
}
.para {
  grid-area: paragraph;
  /* padding-top: 10%; */
  /* max-width: 200px; */
  padding: 20px;
  border: solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  /* box-shadow: 5px 10px 8px 10px #888888; */
  box-shadow: -10px 10px 5px #888888;
}
.Img {
  grid-area: Img;
}
.home {
  display: grid;
  width: 100vw;
  text-align: center;
  gap: 10px;
  /* padding: 5px; */
  grid-template-areas:
    "hero hero hero"
    "paragraph paragraph Img";
}

.hero-text {
  font-style: italic;
}
.Img img {
  width: 400px;
  height: 500px;
  /* max-width: fit-content;
  max-height: fit-content; */
  /* padding-right: 20px; */
  /* margin-right: 50px; */
  border: 1px solid;
  border-radius: 10px;
  box-shadow: -5px 10px 5px #888888;
}
.Img {
  padding-bottom: 20px;
}
