.sidebar-nav-container {
  background-color: #ffe9e9;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
  height: 470px;
  border-radius: 10px;
}

.sidebar-nav-content {
  text-align: left;
  padding-top: 30px;
}
.sidebar-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

.sidebarImage {
  height: 100px;
  width: auto;
  border-radius: 50px;
}

.sidebarUsername {
  font-family: "Hepta Slab", serif;
  margin: 0;
  padding: 15px 0;
}

.sidebarBirthday {
  font-family: "Hepta Slab", serif;
  margin: 0;
  font-weight: bolder;
}

.sidebarDivider {
  width: 75%;
  margin-bottom: 20px;
  border-top: 1px solid #ff9090;
}

.sidebarListContainer {
  margin-left: 30px;
}

.sidebarList {
  list-style-type: none;
  padding-left: 0;
}

.sidebarList a {
  color: black;
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.sidebarList a:hover {
  font-weight: bolder;
  color: rgb(244, 88, 88);
}

.sidebarItem {
  letter-spacing: 1px;
  color: rgb(61, 61, 61);
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  font-family: "Hepta Slab", serif;
  margin: 13px 0;
  font-weight: bolder;
}

a.active {
  color: rgb(255, 87, 87);
}

.sidebarBirthday {
  display: flex;
  align-items: flex-end;
}

#cake {
  padding-right: 6px;
}


@media only screen and (max-width: 850px) {
  .sidebar-nav-container{
    display: none;
  }
}
