.dashboard-container {
  align-self: flex-start;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0rem 30px;
  background-color: rgb(153, 73, 255, 0.2);
  border-radius: 15px;
  padding: 1.5rem;
  gap: 1.5rem;
}

.dashboard-heading {
  align-self: flex-start;
  margin: 0;
  color: #000000;
  font-size: 1.5rem;
  font-family: 'Hepta Slab', serif;
  font-weight: bolder;
}

.dashboard-friend-card-container {
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  width: 100%;
  background: #f1ebfa;
  border-radius: 10px;
}

.dashboard-friend-card-container:hover {
  background-color: rgb(153, 73, 255, 0.2);
}

.dashboard-img-placeholder {
  width: 60px;
  height: 60px;
  margin-top: 5px;
  border-radius: 50%;
  background: #e0e0e0;
}

.dashboard-friend-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #232323;
  gap: 2rem;
}

.dashboard-card-text {
  font-size: 20px;
  cursor: pointer;
  color: #232323;
  text-decoration: none;
}
.dashboard-card-text-zodiac{
  font-size: 20px;
  cursor: pointer;
  color: #232323;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 5px;
}

.dashboard-card-name {
  font-size: 1.5rem;
  font-weight: 500;
}

.dashboard-friend-card-left {
  display: flex;
  flex: 1;
  gap: 20px;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .dashboard-friend-card-container {
    /* width: 80%; */
    /* margin: 10px; */
  }
}

@media only screen and (max-width: 600px) {
  .dashboard-friend-card-container {
    width: 90%;
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  .dashboard-friend-card-top {
    flex-direction: column;
    /* margin: 0px;
    padding-top: 0px; */
  }

  .dashboard-card-text {
    /* width: 200px; */
  }
}

