.dashboard-container {
  align-self: flex-start;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0rem 30px;
  background-color: #f1ebfa;
  border-radius: 10px;
  padding: 1.5rem;
  gap: 1.5rem;
}

.dashboard-heading {
  align-self: flex-start;
  margin: 0;
  color: #000000;
  font-size: 1.5rem;
  font-family: "Hepta Slab", serif;
  font-weight: bolder;
}

.dashboard-friend-card-container {
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  width: 100%;
  border: 1px rgba(160, 87, 255, 0.66) solid;
  border-radius: 10px;
}

.dashboard-friend-card-container-this-month {
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  width: 100%;
  border: 1px rgba(127, 28, 255, 0.492) solid;
  border-radius: 10px;
  background-image: url("../../Assets/balloons.png"),
    linear-gradient(rgba(255, 204, 0, 0), rgba(208, 162, 255, 0.608));
  background-size: 35%, 100%;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.dashboard-friend-card-container-today {
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  width: 100%;
  border: 1px rgba(255, 47, 28, 0.492) solid;
  border-radius: 10px;
  background-image: url("../../Assets/balloons.png"),
    linear-gradient(rgb(255, 210, 210), rgba(255, 103, 103, 0.656));
  background-size: 35%, 100%;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.dashboard-friend-card-container:hover,
.dashboard-friend-card-container-this-month:hover {
  background-color: rgb(153, 73, 255, 0.2);
}

.dashboard-img-placeholder {
  width: 60px;
  height: 60px;
  margin-top: 5px;
  border-radius: 50%;
  background: #e0e0e0;
}

.dashboard-friend-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #232323;
  gap: 2rem;
}
.dashboard-friend-card-content-this-month {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #232323;
  gap: 2rem;
  position: relative;
}

.dashboard-friend-card-container-this-month::after {
  position: absolute;
  content: "Birthday Month";
  top: -0.7rem;
  right: 1rem;
  padding: 0.5rem;
  width: 10rem;
  border-radius: 10px;
  background: #b561ff;
  color: white;
  letter-spacing: 0.5px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  box-shadow: 4px 4px 15px rgba(81, 26, 126, 0.2);
}

.dashboard-friend-card-container-today::after {
  position: absolute;
  content: "Birthday Today";
  top: -0.7rem;
  right: 1rem;
  padding: 0.5rem;
  width: 10rem;
  border-radius: 10px;
  background: #ff6161;
  color: white;
  letter-spacing: 0.5px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  box-shadow: 4px 4px 15px rgba(81, 26, 126, 0.2);
}

.dashboard-card-text {
  font-size: 20px;
  cursor: pointer;
  color: #232323;
  text-decoration: none;
}
.dashboard-card-text-zodiac {
  font-size: 20px;
  cursor: pointer;
  color: #232323;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;
}

.dashboard-card-name {
  font-size: 1.5rem;
  font-weight: 500;
}

.dashboard-friend-card-left {
  display: flex;
  flex: 1;
  gap: 20px;
}

a {
  text-decoration: none;
}

/* @media only screen and (max-width: 900px) {
  .dashboard-friend-card-container {
    width: 80%;
    margin: 10px;
  }
} */

@media only screen and (max-width: 600px) {
  .dashboard-friend-card-container {
    width: 90%;
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  .dashboard-friend-card-top {
    flex-direction: column;
    /* margin: 0px;
    padding-top: 0px; */
  }

  /* .dashboard-card-text {
    width: 200px;
  } */
}
