.footer {
  /* color: white; */
  /* background-color: black; */
  margin-top: auto;
}

.footerContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.footer-image {
  padding: 1rem;
  height: 60px;
  width: auto;
}

.slogan {
  width: 70%;
  margin: 0 auto;
  font-size: 12px;
  font-family: "Hepta Slab", serif;
}

.brand {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

hr {
  width: 85%;
}

.bottom {
  text-align: center;
}

.text {
  font-size: medium;
  width: 60%;
  margin: 0 auto;
  font-family: "Hepta Slab", serif;
  margin-bottom: 17px;
  padding: 10px;
}

.copyright {
  margin: 0 auto;
  font-size: small;
  font-family: "Hepta Slab", serif;
}

.navLink {
  display: flex;
  gap: 30px;
  /* grid-template-columns: repeat(4, 1fr); */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  align-items: center;
  text-align: center;
}

.link {
  text-decoration: none;
  padding: 3px;
  /* color: white; */
  transition: 0.3s ease-in-out;
}

.link:hover {
  color: orange;
}

@media (max-width: 900px) {
  .footerContent {
    display: flex;
    flex-direction: column;
  }
}
