.formBox {
  padding: 110px 0px 130px 0px;
  text-align: center;
  justify-content: center;
  display: flex;
  & .Container {
    position: relative;
    text-align: center;
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 32px 24px 24px;
    max-width: 300px;
    background: #f1ebfa;
    border-radius: 16px;
    color: #010101;
    & .Title {
      font-weight: bold;
      font-size: 1.6rem;
    }
    & .Subtitle {
      font-size: 1rem;
      color: #666;
    }
    & .InputGroup {
      overflow: hidden;
      border-radius: 8px;
      background-color: #fff;
      margin: 1rem 0 0.5rem;
      width: 100%;
      & .Input {
        background: none;
        border: 0;
        outline: 0;
        height: 40px;
        width: 100%;
        border-bottom: 1px solid #eee;
        font-size: 0.9rem;
        padding: 8px 15px;
      }
    }
    & .submitBtn {
      background-color: #9949ff;
      color: #fff;
      border: 0;
      border-radius: 24px;
      padding: 10px 16px;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.3s ease;
      & :hover {
        background-color: #005ce6;
      }
    }
    & .Section {
      padding: 16px;
      font-size: 0.85rem;
      background-color: #e5d8f9;
      border-radius: 10px;
      box-shadow: rgb(0, 0, 0/8%) 0 -1px;
      & .Text {
        & .Link {
          font-weight: bold;
          color: #9949ff;
          text-decoration: none;
          transition: color 0.3s ease;
        }
        & :hover {
          color: #005ce6;
          text-decoration: underline;
        }
      }
    }
  }
}
