.App {
  text-align: center;
}

main {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.page-content-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  border-top: 1px solid #f8e8ff;
}

.page-content {
  margin: 3rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3fr 9fr;
  width: 1000px;
}

@media only screen and (max-width: 850px) {
  .page-content {
    grid-template-columns: 1fr;
  }
}