.topnav-container{
display: flex;
justify-content: center;
}

.topnav {
  margin-top: -10px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 80px;
}

.topnav img {
  width: 17rem;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links a {
  display: flex;
  justify-content: center;
  color: black;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  width: 150px;
}

.nav-links a:hover {
  /* color: rgb(255, 80, 80); */
  color: rgb(254, 68, 68);
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .topnav {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .nav-links {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    justify-content: center;
  }

  .nav-links a {
    padding: 10px; /* Adjust padding for smaller screens */
    font-size: medium; /* Adjust font size for smaller screens */
  }
}
