.topnav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.topnav img {
  width: 10rem;
  height: auto;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.nav-links a {
  color: black;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
}

.nav-links a:hover {
  color: rgb(108, 72, 187);
}

@media screen and (max-width: 600px) {
  .topnav {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .nav-links {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .nav-links a {
    padding: 10px; /* Adjust padding for smaller screens */
    font-size: medium; /* Adjust font size for smaller screens */
  }
}
